version: '3.4'

services:
  elasticsearch:
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
      - 9300:9300
volumes:
  elasticsearch-data:
    driver: local